:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-red-bg: rgba(255, 87, 87, 0.07);
    --orangey-yellow-bg: hsla(39, 100%, 56%, 0.07);
    --green-teal-bg: hsla(166, 100%, 37%, 0.07);
    --cobalt-blue-bg: hsla(234, 85%, 45%, 0.07);
    /* Gradients */
    --light-slate-blue-bg: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* Main card */

.results-card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Top half */

.overall-result {
    color: var(--white);
    background: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
    border-radius: 0px 0px 30px 30px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-grow: 1;
}

#your-result {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.75;
}

/* Score glows on page load */

@keyframes glow-score {
    0% {
        visibility: hidden;
    }

    30% {
        box-shadow:
            0 0 20px 10px #fff,
            0 0 40px 20px #f0f,
            0 0 50px 30px #0ff;
        visibility: visible;
    }

    100% {
        box-shadow: none;
        visibility: visible;
    }
}

@keyframes glow-word {
    0% {
        visibility: hidden;
    }

    30% {
        text-shadow:
            0px 0px 10px #f0f,
            0px 0px 10px #f0f,
            0px 0px 10px #f0f;
        visibility: visible;
    }

    100% {
        text-shadow: none;
        visibility: visible;
    }
}

.overall-score-numeric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
    height: fit-content;
    aspect-ratio: 1 / 1;
    padding: 30px;
    border-radius: 50%;
    animation: glow-score 1000ms;
}

.score-numerator {
    font-size: 3em;
    font-weight: 800;
}

.score-denominator {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.45;
}

.overall-result .overall-score-word {
    font-size: 1.5rem;
    animation: glow-word 1300ms;
}

.overall-result-comparison {
    font-size: 0.9rem;
    opacity: 0.7;
}

/* Bottom half */

.summary {
    padding: 0px 30px;
    font-size: 1rem;
    font-weight: 500;
    flex-grow: 1;
}

.summary-header {
    margin: 20px 0px;
    font-size: 1.05rem;
    font-weight: 700;
    color: var(--dark-gray-blue)
}

/* Individual scores */

.category-scores {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.9rem;
}

.category-score {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
}

.category-score-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-score.reaction {
    color: var(--light-red);
    background-color: var(--light-red-bg);
}

.category-score.memory {
    color: var(--orangey-yellow);
    background: var(--orangey-yellow-bg);
}

.category-score.verbal {
    color: var(--green-teal);
    background-color: var(--green-teal-bg);
}

.category-score.visual {
    color: var(--cobalt-blue);
    background-color: var(--cobalt-blue-bg);
}

.score {
    color: var(--dark-gray-blue);
    font-weight: 800;
}

.out-of-100 {
    opacity: 0.6;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.button {
    color: var(--white);
    background-color: var(--dark-gray-blue);
    text-decoration: none;
    display: block;
    margin: 30px 0px;
    padding: 15px 20px;
    text-align: center;
    border-radius: 30px;
}

.button:hover {
    filter: invert(0.1);
}

@media screen and (min-width: 768px) {
    .results-card {
        flex-direction: row;
        border-radius: 30px;
        max-width: 720px;
        box-shadow: 0px 20px 40px 5px var(--cobalt-blue-bg);
        margin-top: auto;
        margin-bottom: auto;
    }

    .overall-result {
        max-width: 50%;
        border-radius: 30px;
    }
}